body {
  font-family: sans-serif;
  color: #111;
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.day {
  margin: 5px;
  padding: 10px;
  background: #F5A9A9;
  border-radius: 5px;
}

li.day.logged {
  background: lightgreen;
}

li.day.weekend {
  background: #efefef;
}

a.login {
  display: block;
  background-color: #efefef;
  border-radius: 10px;
  margin: 70px auto;
  padding: 20px;
  width: 180px;
  color: #111;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

a.login:hover {
  background-color: #ccc;
  color: white;
}